h1{
  border-bottom: 1px solid gray;
  text-align: center;
  color: orange;
}
h2{
  text-align=right;
  color: green;
}
h3{
  text-align=right;
  color: red;
}
a{
  font-size: 20px;
  text-align: center;
}
#logout{
  float: right;
}
